@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

:root {
  --main-purple-color: #6070ff;
  --secondary-color: #344563;
  --font-heavy-purple-color: #172b4d;
  --light-grey-color: #7a869a;
  --very-light-purple-color: #ebebff;
  --font-family-common: "Poppins";
}

.template-1 {
  position: relative;
}

/* Toolbar */
.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 44px auto;
}

a {
  text-decoration: none;
}

.toolbar-name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: var(--main-purple-color);
  transition: font-size 1s ease 0s, color 1s ease 0s;
}

.toolbar-name:hover {
  font-size: 20px;
  color: var(--font-heavy-purple-color);
}

.toolbar-menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 30px;
}

nav a {
  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Neutrals/N600 */

  color: #344563;
  transition: color 1s ease 0s, font-size 1s ease 0s;
}

a:hover {
  color: var(--main-purple-color);
  font-size: 18px;
}

.toggle-hidden1 {
  display: flex;
}

.toggle-hidden2 {
  display: none;
}

/* Headline */
.headline-container {
  background-image: url(assets/header-shapes-mobile@2x.svg);
  font-family: "Poppins", sans-serif;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  position: relative;
  width: 375px;
  height: 604px;
  left: calc(50% - 375px / 2);
  top: 92px;
}

.headline-text1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-bottom: 10px;
}

.headline-text2 {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.headline-socialmedia-text {
  color: #7f8cff;
  font-weight: 500;
  line-height: 24px;
  margin: 10px 0;
}

.headline-socialmedia-icons-container {
  display: flex;
}

.headline-socialmedia-icons-container img {
  margin: 1px 20px 1px 0;
}

/* CSS Grid Card Container Styling */

.CSS-grid__card-container {
  background: #e5e5e5;

  /* Works */

  /* Auto layout */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  position: relative;
  width: 375px;
  height: 2788px;
  left: 0;
  top: 100px;
}

/* CSS Flex card Styling */

.CSS-grid__card-container .Card-works {
  /* Card Works */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;

  /* Neutrals/N0 */

  background: #fff;

  /* Neutrals/N40 */

  border: 1px solid #dfe1e6;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Inside the Flex Card Snapshoot container */

.snapshoot-container {
  /* Snapshoot Portfolio */

  width: 295px;
  height: 220px;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Left Block in Flex Card */

.left-block {
  /* Left Block */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Primary text inside the Flex Card */

.primary-text {
  /* Primary Text */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 80px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-title {
  /* Project Title */

  width: 295px;
  height: 36px;
  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Frame 2 under the Project title */

.frame-2 {
  /* Frame 2 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Client in Frame 2 */

.client {
  /* Client */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 55px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Client Text in client Frame 2 */

.client-text {
  /* Text */

  width: 55px;
  height: 16px;

  /* Caption / 1 - Bolder */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Counter Container in Frame 2 */

.counter {
  /* Counter */

  width: 8px;
  height: 8px;

  /* Neutrals/N50 */

  background: #c1c7d0;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Role in Frame 2 */

.role {
  /* Role */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 88px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Role Text in Role Frame 2 */

.role-text {
  /* Text */

  width: 88px;
  height: 16px;

  /* Caption / 1 - Bolder */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.year-label {
  /* Year Label */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 29px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  flex-grow: 0;
}

.year-text {
  /* Text */

  width: 29px;
  height: 16px;

  /* Caption / 1 - Bolder */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */

  color: #7a869a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Text After The Frame 2 */

.text-after-Frame2 {
  /* Primary Text */

  width: 295px;
  height: 76px;

  /* Body / 3 */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Tags After The Primary Text and Text */

.tags {
  /* Tags */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 214px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

/* tag in tags */

.tag-html {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 57px;
  height: 24px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Tag Text styling and boxing */

.tag-text-html {
  /* HTML */

  width: 33px;
  height: 16px;

  /* Button / Small */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* tag CSS */

.tag-css {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 49px;
  height: 24px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* tag Text Css */

.tag-text-css {
  /* CSS */

  width: 25px;
  height: 16px;

  /* Button / Small */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* JavaScript Tag */

.tag-js {
  /* Tag */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 92px;
  height: 24px;

  /* Primary/B50 */

  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.tag-text-js {
  /* JavaScript */

  width: 68px;
  height: 16px;

  /* Button / Small */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */

  letter-spacing: 0.03em;

  /* Primary/B400 */

  color: #6070ff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Action Button Container */

.action-container {
  /* Action */

  width: 295px;
  height: 72px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

/* Normal Project Button in Container */

.normal-button {
  /* Normal Button/Secondary/Enabled */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: relative;
  width: 126px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);

  /* Primary/B400 */

  border: 1px solid #6070ff;
  border-radius: 8px;
}

button {
  background-color: #fff;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:hover p {
  color: #fff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

button:active p {
  color: #fff;
}

/* Project Action Text */

.project-text {
  /* See project */

  width: 102px;
  height: 24px;

  /* Button /Normal */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */

  color: #396df2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* About Myself Container */

.about-myself-container {
  /* About My Self */

  /* Auto layout */

  margin-top: 114px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  position: relative;
  width: 375px;
  height: 1062.15px;
  left: calc(50% - 375px / 2);
  top: 0;
}

.top {
  /* TOP */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 327px;
  height: 346px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Text of Myself */

.top-text1 {
  width: 327px;
  height: 35px;

  /* Header / 2 */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */

  display: flex;
  align-items: center;

  /* Neutrals/N800 */

  color: #172b4d;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Top Text 2 */

.top-text2 {
  /* Primary Text */

  width: 327px;
  height: 147px;

  /* Body / 2 */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  /* Neutrals/N600 */

  color: #344563;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Social Media Container */

.socialmedia-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 200px;
  height: 80px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Download Resume Container */

.download-resume {
  /* Normal Button/Secondary/Enabled */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;

  /* Primary/B400 */

  border: 1px solid #6070ff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.resume-text {
  /* Get my resume */

  width: 150px;
  height: 24px;

  /* Button /Normal */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;

  /* identical to box height, or 141% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  /* Primary/B500 */

  color: #396df2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.skill-frame {
  width: 327px;
  height: 72px;

  /* border: 3px solid red; */

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* skill-list text */

.skill-list-text {
  position: relative;
  height: 24px;
  left: 12px;
  right: 78px;
  width: 200px;
  top: calc(50% - 24px / 2);

  /* border: 3px solid red; */

  /* Body / 1 - Bolder */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  color: #000;
}

.arrow-button {
  /* Normal Button/Tertiary/Disabled */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  /* border: 3px solid red; */

  position: relative;
  width: 40px;
  height: 40px;
  right: 5px;
  margin-left: 80px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

/* skill and Arrow */

.skill-arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}

/* Language List */

.language-list {
  /* Language List */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 327px;
  height: 248.15px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame {
  /* Frame 9 */

  width: 303px;
  height: 66.72px;

  /* Neutrals/N10 */

  background: #f7f7f9;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-text {
  position: relative;
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);

  /* Body / 3 - Bolder */

  font-family: var(--font-family-common);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  /* or 133% */

  display: flex;
  align-items: center;

  /* Neutrals/N700 */

  color: #253858;
}

.frame-icon1 {
  position: relative;
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  background: url(assets/js.png);

  /* Neutrals/N0 */

  border: 1px solid #fff;
}

.frame-icon2 {
  position: relative;
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  background: url(assets/html.png);

  /* Neutrals/N0 */

  border: 1px solid #fff;
}

.frame-icon3 {
  position: relative;
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  background: url(assets/css.png);

  /* Neutrals/N0 */

  border: 1px solid #fff;
}

ul {
  list-style-type: none;
}

.skill-list ul {
  list-style-type: none;
}

/* Form */

.form-container {
  border: 1px solid transparent;
  background: var(--main-purple-color);
  border-radius: 100px 0 0 0;
  background-image: url(assets/contact-form-shapes-mobile.svg);
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
}

.form-content-container {
  /* border: 3px solid blue; */
  margin: 103px 24px;
  display: flex;
  flex-direction: column;
}

.form-header {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.form-description {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: var(--very-light-purple-color);
  margin-top: 12px;
  margin-bottom: 52px;
}

form {
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-element,
textarea {
  border: 1px solid #cfd8dc;
  color: var(--font-heavy-purple-color);
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  padding: 15px 16px;
  border-radius: 8px;
  outline: none;
}

textarea {
  font-size: 15px;
  line-height: 24px;
  height: 145px;
  overflow: hidden;
  resize: none;
}

#submit-btn {
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-purple-color);
  border-radius: 8px;
  padding: 12px 16px;
  width: 50%;
  border: none;
}

.black-line-container {
  position: absolute;
  bottom: 8px;
  left: 120px;
}

/* Pseduo Classes btns */
.card-info-link-container button:hover,
#submit-btn:hover {
  color: #fff;
  background-color: #6070ff;
}

.card-info-link-container button:active,
#submit-btn:active {
  color: #fff;
  background-color: #2230d2;
}

@media only screen and (min-width: 768px) {
  .toggle-hidden1 {
    display: none;
  }

  .toggle-hidden2 {
    display: flex;
  }

  .headline-container1 {
    background: url(assets/header-bg-desktop.svg);
    position: relative;
    width: 100vw;
    height: 721.46px;
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0 0 0 0;
  }

  .headline-desktop1 {
    margin: 15% 20% 0 20%;
    opacity: 1;
    animation: animating-header 4s ease 0s 1 alternate;
  }

  @keyframes animating-header {
    0% {
      opacity: 0;
    }

    25% {
      opacity: 0.25;
    }

    75% {
      opacity: 0.75;
    }

    100% {
      opacity: 1;
    }
  }

  .headline-socialmedia-container {
    margin: 0 0 0 20%;
  }

  .CSS-grid__card-container {
    background: #e5e5e5;

    /* Works */

    /* Auto layout */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding: 124px auto;
    gap: 142px;
    position: relative;
    width: 100vw;
    height: 2788px;
    top: 100px;
  }

  .CSS-grid__card-container .Card-works {
    /* Card Works */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 8%;
    padding: 16px;
    gap: 2%;
    width: 80vw;
    height: 552px;

    /* Neutrals/N0 */

    background: #fff;

    /* Neutrals/N40 */

    border: 1px solid #dfe1e6;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .snapshoot-container {
    /* Snapshoot Portfolio */

    width: 50%;
    height: 100%;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  img:hover {
    animation: imgHover 2s ease 0s 1;
    animation-fill-mode: forwards;
  }

  @keyframes imgHover {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.95);
    }

    100% {
      transform: scale(0.9);
    }
  }

  /* Left Block in Flex Card */

  .left-block {
    /* Left Block */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 50%;
    height: 80%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .flip-card {
    /* Card Works */

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 8%;
    padding: 16px;
    gap: 2%;
    width: 80vw;
    height: 552px;

    /* Neutrals/N0 */

    background: #fff;

    /* Neutrals/N40 */

    border: 1px solid #dfe1e6;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .about-myself-container {
    /* About My Self */

    /* Auto layout */

    margin-top: 114px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 114px 50px;
    position: relative;
    width: 100%;
    height: 600.15px;
    left: auto;
    right: auto;
    top: 0;
  }

  .top {
    /* TOP */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 40%;
    height: 100%;

    /* border: 3px solid red; */

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .top-text1 {
    width: 100%;
    height: 15%;

    /* Header / 2 */

    /* border: 3px solid blue; */

    font-family: var(--font-family-common);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    /* or 130% */

    display: flex;
    align-items: center;

    /* Neutrals/N800 */

    color: #172b4d;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  /* Top Text 2 */

  .top-text2 {
    /* Primary Text */

    width: 100%;
    height: 147px;

    /* border: 3px solid green; */
    margin-top: 5%;

    /* Body / 2 */

    font-family: var(--font-family-common);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */

    /* Neutrals/N600 */

    color: #344563;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .skill-list {
    /* border: 3px solid orange; */

    width: 55%;
    height: 100%;
  }

  .skill-frame {
    width: 100%;
    height: 30%;

    /* border: 3px solid blue; */

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .skill-arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    /* border: 3px solid green; */
  }

  .separator-bottom {
    width: 100%;
  }

  .form-container {
    border: 1px solid transparent;
    background: var(--main-purple-color);
    border-radius: 100px 0 0 0;
    background-image: url(assets/contact-form-background-desktop.svg);
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-content-container {
    /* border: 3px solid blue; */
    margin: 103px 24px;
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .black-line-container {
    display: none;
  }
}
